*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.d
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.make
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
main.aux.make
main.auxbbl.make
main.auxtarget.make
main.d
main.fls
main.lof.make
main.lot.make
main.out.make
main.pdf
main.pdf.1st.make
main.toc.make
permission/dean-permission.pdf
permission/permission_template.pdf
